# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Test / cache
.pytest_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db